<% translator.forms.each do |locale, form| %>

  <%# form.hidden_field :locale %>   

  <li class="<%= "translation lang-#{locale}" %>">

    <%= form.label :locale, "#{attribute.capitalize} (#{locale})" %>

    <%= instance.field_type(form) %>

  </li>

<% end %>